    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Projects</h2>
                    <p>Apps, Chatbots, Websites, Games, DataAnalytics, AI applications by our students.</p>
                    <a href="http://github.com/rodincode/" class="btn btn-default btn-lg">Visit Projects Page</a>
                </div>
            </div>
        </div>
    </section>
